<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= t '.welcome' %><%= @us_name %></h1>
<p>
  <%= t '.cong' %><%= t '.y_bet' %><%= @maxuser_cost %><%= t '.for' %><%= @rec_name %><%= t '.win' %><br>
</p>
<p><%= t 'welcome_mailer.welcome_email.happy' %></p>
</body>
</html>