<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= t '.welcome' %><%= @user.name %></h1>
<p>
  <%= t '.suc_su' %>
  <%= t '.y_mail' %><%= @user.email %>.<br>
</p>
<p>
  <%= t '.url_p' %><%= @url %>.
</p>
<p><%= t '.happy' %></p>
</body>
</html>