<div class="container">
  <h1><%= t '.add_money' %></h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_with model: Current.user, url: edit_balance_path, data: { turbo: false } do |f| %>
        <% if Current.user.errors.any? %>
          <% Current.user.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
          <% end %>
        <% end %>
        <p>
          <%= f.label :balance%><br>
          <%= f.number_field :balance, value:0, class: 'form-control', min: 0, max: 100000 %>
        </p>
        <p>
          <%= f.submit (t '.update'), class: "btn btn-primary" %>
        </p>
      <% end %>
    </div>
  </div>
  <% Record.all.each do |record| %>
    <% unless record.comments.find_by(username: Current.user.email).nil?%>
      <%=content_tag(:div, '', :class => (record.status == 'Аукцион объявлен' ? 'card mb-3 border-success' : 'card mb-3 border-danger'), :style => "max-width: 1500px" )do %>
        <div class="row g-0">
          <div class="col-md-3" style="display:inline-block; position:relative;">
            <% if record.status == 'Аукцион объявлен'%>
              <%= image_tag record.photo, size: "310x200", crop: :fill, style: "border-radius: 5px" %>
              <h5 class="card-text" style="text-align: center; letter-spacing: 5px;"><%= t 'records.index.max_cost' %><%= record.comments.maximum("cost") %>$</h5>
            <% else %>
              <%= image_tag record.photo, size: "310x200", crop: :fill, style: 'filter: blur(3px);' %>
              <p style="display: inline-block; position: absolute; bottom: 85px; left: 0px;  padding: -5px -5px -5px -10px;
                color:red; letter-spacing: 5px; font-weight: bold; font-size: 26px; transform: rotate(-30deg); border: 3px solid red;"><%= record.status %></p>
              <h5 class="card-text" style="text-align: center; letter-spacing: 5px;"><%= t 'records.index.car_sell' %><%= record.comments.maximum("cost") %>$</h5>
            <% end %>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h3 class="card-title"><%= record.title %></h3>
              <p class="card-text"><%= record.description %><p>
              <% if record.status == 'Аукцион объявлен'%>
                <p class="card-text"><small class="text-muted"><%= t 'records.index.to_end' %><span class="time" id=<%= record.id %> time="<%= record.timeend-Time.now %>">0</span></small></p>
              <% else %>
                <p class="card-text"><small class="text-muted"><%= t 'records.index.to_end' %>00:00:00</small></p>
              <% end %>
            </div>
            <div class="card-footer"><%= link_to (t 'records.index.more'), record_path(record), :class => 'btn btn-outline-primary', style: 'text-align:center;display:block;'%></div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>