<div class="container">
<h2>Редактирование Записи</h2>
<%= form_for @record, data: { turbo: false }  do |f| %>
  <% if @record.errors.any? %>
    <% @record.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%= f.label 'Название' %>
    <%= f.text_field(:title,{:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label 'Описание' %>
    <%= f.text_area(:description,{:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label 'Статус:' %>
    <%=f.select(:status, ['Аукцион объявлен','Аукцион закрыт'])%></p>
  <p>
  <p>
    <%= f.submit('Внести изменения', {:class => 'btn btn-success'}) %>
  </p>
<% end %>
</div>