<div class="container">
<h2><%= t '.add_rec' %></h2>
<%= form_for :record, url: records_path, data: { turbo: false }  do |f| %>
  <% if @record.errors.any? %>
    <% @record.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :photo %>
    <%= f.file_field :photo, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :status %>
    <%=f.select :status, ['Аукцион объявлен','Аукцион закрыт']%></p>
  <p>
    <%= f.submit (t '.create'), class: 'btn btn-success' %>
  </p>
<% end %>
</div>
