<div class="container">
  <h1><%= @record.title %></h1>
  <p ><%= image_tag @record.photo, size: "280x180", crop: :fill %></p>
  <p><%= @record.description %></p>
  <p><%= @record.status %></p>
  <% if @is_admin %>
    <hr>
    <table>
      <tr>
        <td><%= button_to (t '.edit'), edit_record_path(@record),method: :get, :class => 'btn btn-warning' %></td>
        <td><%= button_to (t '.delete'), record_path(@record), method: :delete, data: {turbo_confirm: (t 'global.del_sure')}, :class => 'btn btn-danger' %></td>
      </tr>
    </table>
  <% else %>
    <hr>
    <h2><%= t '.all_bet' %></h2>
    <% @record.comments.each do |comment| %>
      <div class="alert alert-light">
        <p><strong><%= comment.username %></strong>: <%=comment.cost %></p>
      </div>
    <% end %>
    <% if @record.comments.where(username: Current.user.email).count < 1 && @record.status == 'Аукцион объявлен'%>
      <hr>
      <h2><%= t '.add_bet' %></h2>
      <%= form_for ([@record, @record.comments.build]) do |f| %>
        <p>
          <%= f.label :cost %>
          <%= f.number_field :cost, class: 'form-control', min: 0 %>
        </p>
        <p>
          <%= f.submit (t '.add'), class: 'btn btn-success' %>
        </p>
      <% end %>
    <% else if @record.comments.where(username: Current.user.email).count == 1 && @record.status == 'Аукцион объявлен'%>
      <hr>
      <h2><%= t '.bet_com' %></h2>
      <% else %>
        <hr>
        <h2><%= t '.pay_car' %><%= @record.comments.maximum("cost") %>$</h2>
      <% end %>
    <%end %>
  <%end %>
</div>