<div class="container">
  <h1><%= @record.title %></h1>
  <p ><%= image_tag @record.photo, size: "260x180", crop: :fill %></p>
  <p><%= @record.description %></p>
  <p><%= @record.status %></p>
  <% if Current.user.email=='admin@admin.admin' %>
    <hr>
    <%= button_to "Редактировать", edit_record_path(@record),method: :get, :class => 'btn btn-warning' %>
    <%= button_to "Удалить заявку", record_path(@record), method: :delete, data: {confirm: "Удаляем?"}, :class => 'btn btn-danger' %>
  <% else %>
    <hr>
    <h2>Все ставки</h2>
    <% @record.comments.each do |comment| %>
      <div class="alert alert-light">
        <p><strong><%= comment.username %></strong>: <%=comment.cost %></p>
      </div>
    <% end %>
    <% if @record.comments.where(username: Current.user.email).count < 1 && @record.status == 'Аукцион объявлен'%>
      <hr>
      <h2>Добавление Комментария</h2>
      <%= form_for ([@record, @record.comments.build]) do |f| %>
        <p>
          Участник<br>
          <%= f.text_field(:username, class:'form-control', value:Current.user.email.to_s ) %>
        </p>
        <p>
          Стоимость<br>
          <%= f.number_field(:cost,{:class => 'form-control'}) %>
        </p>
        <p>
          <%= f.submit("Добавить", {:class => 'btn btn-success'}) %>
        </p>
      <% end %>
    <% else if @record.comments.where(username: Current.user.email).count == 1 && @record.status == 'Аукцион объявлен'%>
      <hr>
      <h2>Ваша ставка сделана!</h2>
      <% else %>
        <hr>
        <h2>Сделка состоялась: машина продана за <%= @record.comments.maximum("cost") %>$</h2>
      <% end %>
    <%end %>
  <%end %>
</div>