<div class="container">
<h1><%= @record.title %></h1>
<p ><%= image_tag @record.photo, size: "250" %></p>
<p><%= @record.description %></p>
<p><%= @record.status %></p>
<hr>
<%= link_to "Редактировать", edit_record_path(@record), :class => 'btn btn-warning' %>
<%= button_to "Удалить", record_path(@record), method: :delete, data: {confirm: "Удаляем?"}, :class => 'btn btn-danger' %>
<hr>
<h2>Все комментарии</h2>
<% @record.comments.each do |comment| %>
  <div class="alert alert-light">
    <p><strong><%= comment.username %></strong>: <%=comment.body %></p>
  </div>
<% end %>

<hr>
<h2>Добавление Комментария</h2>
<%= form_for ([@record, @record.comments.build]) do |f| %>
  <p>
    Пользователь<br>
    <%= f.text_field(:username,{:class => 'form-control'}) %>
  </p>
  <p>
    Текст комментария<br>
    <%= f.number_field(:body,{:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit("добавить", {:class => 'btn btn-success'}) %>
  </p>
<% end %>
</div>