<main class="qqqqq px-3 justify-content-center align-items-center" style="width: 100vw; height: 100vh">
  <h1><%= t '.auction' %></h1>
  <p class="lead"><%= t '.auto_text' %></p>
  <p class="lead"><%= t '.auto_text2' %></p>
  <p class="lead"><%= t '.valt_text' %></p>
  <p class="lead">
    <a href="<%= home_path %>" class="btn btn-lg btn-secondary fw-bold border-black bg-black"><%= t '.find' %></a>
  </p>
</main>